# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/

# Virtual env
.venv/
env/

# Cache
cache/
**/cache/

# Data (VERY IMPORTANT)
data/
**/data/

# Large file types
*.csv
*.tif
*.pbf
*.graphml
*.zip

# OS
.DS_Store